<!-- layouts/shortcodes/subscribe-button.html -->
<div style="text-align: center; margin-top: 3rem; margin-bottom: 20px">
  <a
    href="https://h5law.substack.com/subscribe"
    onmouseover="this.style.backgroundColor='#5e4774'"
    onmouseout="this.style.backgroundColor='#725597'"
    onmousedown="this.style.backgroundColor='#4b365a'"
    onmouseup="this.style.backgroundColor='#5e4774'"
    style="
      display: inline-block;
      background-color: #725597;
      color: #f3f3f3;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      border-radius: 15px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.3s ease;
    "
    class="subscribe-button"
    >Subscribe for More</a
  >
</div>
